:root {
}
/* Public */
body {
    font-family: 'SUIT', sans-serif;
}
.nav-link {
    opacity: 0.9;
    transition-property: transform;
    transition-duration: 0.1s;
}
.nav-link:hover {
    opacity: 1;
    transform: scale(1.1);
}

.top-h {
    background-image: url(/view/img/top_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.pagetop__div{
    color: #0f5132;
}

/* logo animation */
@keyframes logo-hover {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

.top_logo {
    animation: logo-hover;
    animation-duration: 900ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    object-fit: contain;
}

.intro__title {
    color: #0f5132;
}
.intro__body {
    color: #0f5132;
}
.intro__right:hover{
    transition: 700ms ease;
    background-color: #dbebe1;
}

.ban, .card__study, .card__project {
    transition: 400ms ease;
}
.card__study {
    min-height: 240px;
}

.ban:hover, .card__study:hover, .card__project:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.ban{
    background-color: rgb(250, 255, 250);
    color: #1b5939;
}
.ban-content {
    background-color: #dbebe1;
}
.ban__body {
    border-top: 4px solid #badbcb;
}

.ban__list {
    border-bottom: 2px solid #1b5939;
    color: #1b5939;
}
#faq,
#footer{
    background-color: rgba(96, 125, 139, 0.1);
}

/* study */
.card__study{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.card-border {
    border-bottom: 2px solid #dbebe1;
}
.card-body p,h5{
    color: #0f5132;
}

/* board */
.board__nav {
    max-height: 136px;
}
.board__nav-item li:hover{
    transform: scale(1.05);
    transition-duration: 0.1s;
    font-weight: bold;
}
.table__rounded thead{
    background-color: #badbcb;
}
.table__rounded thead th:first-child{
    border-radius: 10px 0 0 0;
}
.table__rounded thead th:last-child{
    border-radius: 0 10px 0 0;
}
.board__write {
    display: inline-block;
    border: 1px solid #198754;
    border-radius: 5px;
}
.board__write a, i{
    color: #198754;
}
#board_add_content {
    resize: none;
}
.board__add-write{
    display: inline-block;
    border-right: 1px solid #e0e0e0;
    padding-left: 8px;
    padding-right: 16px;
    font-size: 14px;
}
.board__add-date{
    font-size: 14px;
}
.comment__title{
    color: gray;
    font-size: 14px;
}
.comment__registration{
    width: 55px;
    font-size: 14px;
    float: right;
}
/* loading page animation */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* project */
#projectCarousel {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 1rem;
}
#projectCarousel .carousel-inner {
    border-radius: 1rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
#projectCarousel .carousel-inner .carousel-item {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 50vh;
}
#projectCarousel .carousel-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}
.project__border-top{
    border-bottom: 2px solid #badbcb;
}
.project__border-bottom{
    border-top: 2px solid #badbcb;
}
/* Mobile button */
#nav .offcanvas {
    width: 300px !important;
}

#nav .offcanvas .mobile-menu a {
    font-size: 1.1rem !important;
}

#nav .offcanvas .mobile-menu a.active {
    font-weight: bold !important;
    color: #0e2d16;
}

#nav .offcanvas .mobile-menu li {
    padding-left: 0.75rem;
    line-height: 1.75;
}

#mobile-button {
    display: none;
}

/* Up button */
.up_btn {
    position: fixed;
    font-size: 36px;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    color: #198754;
    text-align: center;
    transition: opacity 300ms ease-in;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
}

.up_btn.show_btn {
    opacity: 1;
    visibility: visible;
}

/* loading page */
.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 155, 155 ,0.6);
    z-index: 9999;
    opacity: 0.8;
}
.loading .hidden {
    display: none;
}

.loading>img {
    animation: spin 1s ease-in-out infinite;
    transform-origin: 50% 55.5%;
    width: 200px;
    height: 200px;
}

/* mobile */
@media screen and (max-width: 767px) {
    .ban {
        margin-bottom: 16px;
    }
    .intro__logo {
        display: none;
    }

    .active__logo {
        margin-bottom: 1rem;
    }

    #navbar .nav-content {
        padding: 0%;
    }

    .nav__list,
    .nav__sign {
        display: none;
    }

    .top-h {
        height: 55vh;
    }

    #mobile-button {
        display: block;
    }
    .study__content {
        display: flex;
        flex-direction: column;
    }
    .boardread_left{
        font-size: 10px;
    }
    .board__add-date{
        font-size: 10px;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .intro__logo {
        display: none;
    }

    .ban {
        margin-bottom: 16px;
    }

    .top-h {
        height: 50vh;
    }
}

/* exception screen */
@media (min-width: 1025px) and (max-width: 1199px) {
    .top-h {
        height: 55vh;
    }

    .top_logo {
        display: none;
    }

    .intro__logo {
        display: none;
    }
}
/* board exception */
@media (min-width: 1400px) {
    .board__right{
        width: 1050px;
    }
}

.render_field iframe {
    max-width: 100%;
}

.render_field img {
    max-width: 100%;
}

.table__hidden {
    overflow-y: none;
}